---
import type { CollectionEntry } from "astro:content";
import Hr from "../Hr.astro";
import Card from "../Card";

export interface Props {
  featured: boolean;
  sortedPosts: CollectionEntry<"blog">[];
}

const { featured, sortedPosts } = Astro.props;
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

{
  featured && featuredPosts.length > 0 && (
    <>
      <section id="featured">
        <h2>Featured</h2>
        <ul>
          {featuredPosts.map(({ data, slug }) => (
            <Card
              href={`/posts/${slug}/`}
              frontmatter={data}
              secHeading={false}
            />
          ))}
        </ul>
      </section>
      {recentPosts.length > 0 && <Hr />}
    </>
  )
}

{
  !featured && recentPosts.length > 0 && (
    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {recentPosts.map(
          ({ data, slug }, index) =>
            index < 4 && (
              <Card
                href={`/posts/${slug}/`}
                frontmatter={data}
                secHeading={false}
              />
            )
        )}
      </ul>
    </section>
  )
}

<style>
  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
</style>
