---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header/Header.astro";
import Footer from "@components/Footer.astro";
import Rss from "@components/Main/Rss.astro";
import AllPost from "@components/Main/AllPost.astro";
import Hr from "@components/Hr.astro";
import Post from "@components/Main/Post.astro";
import Socials from "@components/Socials.astro";
import { Image } from "astro:assets";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>云楼汐</h1>
      <Rss />
      <p>"Hinc itur ad astra"</p>
      <p>"我们自此通往繁星"</p>
      <p>Algorithm, Computer and Math</p>
      <Image
        src="/front.svg"
        alt="frontpic"
        width={300}
        height={300}
        loading={"eager"}
      />
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>
    <Hr />
    <Post
      featured={true}
      featuredPosts={featuredPosts}
      recentPosts={recentPosts}
    />
    <Post
      featured={false}
      featuredPosts={featuredPosts}
      recentPosts={recentPosts}
    />
    <AllPost />
  </main>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
</style>
